*{
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Roboto', sans-serif;
  background: #121f3d;
  color: white;
}

ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

button{
  width: 45px;
  height: 45px;
  border: 1px solid gray;
  border-radius: 10px;
  background: transparent;
  margin: 1px;
  color: white;
}

button:hover{
  cursor: pointer;
  opacity: 0.6;
}

h1{
  text-align: center;
}

main{
  width: 50%;
  min-width: 600px;
  margin: 0 auto;
}

#grid{
  margin: 20px 0;
}

.grid-row{
  display: flex;
  padding: 5px;
}

.row-item{
  border: 1px solid gray;
  width: 45px;
  height: 45px;
  margin: 0 10px;
}

.gray{
  background-color: gray;
}

.green{
  background-color: green;
}

.marron{
  background-color: brown;
}

.button-reset{
  margin-top: 20px;
}
